In [263]:
import json
import fnmatch
import os
from tqdm import tqdm
import pandas as pd
import datetime
from dateutil.relativedelta import relativedelta
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import random
from sklearn.cross_validation import train_test_split
from sklearn import metrics
#Models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import SGDClassifier
from sklearn.cross_validation import KFold

In [3]:
df = pd.read_csv("finall.csv")

In [10]:
train = pd.read_csv("/Users/andy/Desktop/2017學習數據分析黑客松/hack_training.csv")

In [5]:
df.head()

,Unnamed: 0,course_id,datecount,ddm,pause_video_count,session_videocount,sessioncount,speed_change_count,speed_change_value,totaltime,user_id,videocount
0,1,ORG4638/C9081/D1465,1,0.125000,7,4,2,0,0.00,577,4093,4
1,2,ORG4638/C5126/D1465,96,0.784314,25427,120,5,12,-2.00,7379,1746,120
2,3,ORG0137/C0417/D2453,3,0.897436,569,0,0,1,1.00,0,21150,70
3,4,ORG8928/C0576/D6587,13,0.979592,15343,0,0,3,0.25,0,27061,48
4,5,ORG6039/C4792/D2453,6,0.976190,29,0,0,4,0.00,0,20189,82

In [8]:
df = df.drop('Unnamed: 0', 1)

In [9]:
df.head()

,course_id,datecount,ddm,pause_video_count,session_videocount,sessioncount,speed_change_count,speed_change_value,totaltime,user_id,videocount
0,ORG4638/C9081/D1465,1,0.125000,7,4,2,0,0.00,577,4093,4
1,ORG4638/C5126/D1465,96,0.784314,25427,120,5,12,-2.00,7379,1746,120
2,ORG0137/C0417/D2453,3,0.897436,569,0,0,1,1.00,0,21150,70
3,ORG8928/C0576/D6587,13,0.979592,15343,0,0,3,0.25,0,27061,48
4,ORG6039/C4792/D2453,6,0.976190,29,0,0,4,0.00,0,20189,82

In [11]:
train.head()

             course_id  user_id target
0  ORG3685/C3456/D4353       51      F
1  ORG3685/C3456/D4353     2115      T
2  ORG3685/C3456/D4353     8362      F
3  ORG3685/C3456/D4353    17100      F
4  ORG3685/C3456/D4353    19452      T

In [15]:
df3 = df.merge(train, on=('user_id','course_id'), left_index=True, right_index=True)

In [17]:
df3.head()

,course_id,datecount,ddm,pause_video_count,session_videocount,sessioncount,speed_change_count,speed_change_value,totaltime,user_id,videocount,target
0,ORG4638/C9081/D1465,1,0.125000,7,4,2,0,0.00,577,4093,4,F
1,ORG4638/C5126/D1465,96,0.784314,25427,120,5,12,-2.00,7379,1746,120,T
2,ORG0137/C0417/D2453,3,0.897436,569,0,0,1,1.00,0,21150,70,F
3,ORG8928/C0576/D6587,13,0.979592,15343,0,0,3,0.25,0,27061,48,F
4,ORG6039/C4792/D2453,6,0.976190,29,0,0,4,0.00,0,20189,82,T

In [25]:
df3['target1'] = df3['target'].map({'T':1,'F':0})

In [26]:
df4 = df3.drop('target', 1)

In [27]:
df4.head()

,course_id,datecount,ddm,pause_video_count,session_videocount,sessioncount,speed_change_count,speed_change_value,totaltime,user_id,videocount,target1
0,ORG4638/C9081/D1465,1,0.125000,7,4,2,0,0.00,577,4093,4,0
1,ORG4638/C5126/D1465,96,0.784314,25427,120,5,12,-2.00,7379,1746,120,1
2,ORG0137/C0417/D2453,3,0.897436,569,0,0,1,1.00,0,21150,70,0
3,ORG8928/C0576/D6587,13,0.979592,15343,0,0,3,0.25,0,27061,48,0
4,ORG6039/C4792/D2453,6,0.976190,29,0,0,4,0.00,0,20189,82,1

In [ ]:
df5 = df4.drop('target1', 1)

In [29]:
train, test = train_test_split(df4, test_size=0.3)

In [ ]:
features = ['course_id','datecount','ddm','pause_video_count','session_videocount','sessioncount','speed_change_count','speed_change_value','totaltime','user_id','videocount']

In [156]:
#train
features = ['course_id','datecount','pause_video_count','speed_change_count','speed_change_value','user_id','videocount']
training_data = train[features]
training_label = train['target1']
training_data['course_id'] = LabelEncoder().fit_transform(training_data['course_id'])
# training_data['user_id'] = LabelEncoder().fit_transform(training_data['user_id'])
model = RandomForestClassifier()
model.fit(training_data,training_label)

/Users/andy/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [173]:
#test
prediction_data = test[features]
prediction_data['course_id'] = LabelEncoder().fit_transform(prediction_data['course_id'])
# prediction_data['user_id'] = LabelEncoder().fit_transform(prediction_data['user_id'])
rand_labels = (np.random.rand(len(test['user_id'])) > 0.4).astype(np.int32)
result_labels = model.predict(prediction_data)
results = pd.DataFrame({
    "user_id" : test['user_id'],
    "target1" : rand_labels
})

/Users/andy/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [317]:
from sklearn.cross_validation import cross_val_score
cv_scores = np.mean(cross_val_score(model,training_data,training_label,scoring="roc_auc",cv=5))
print(cv_scores)

0.594784785724

In [449]:
q2 = pd.read_csv('finallfinall.csv')

In [450]:
q3 = q2.drop('Unnamed: 0',1)

In [451]:
#KNN
X_train, X_test, y_train, y_test = train_test_split(df6, df4['target1'], test_size=0.3, random_state=1000)

In [452]:
knn = KNeighborsClassifier()
X_test['course_id'] = LabelEncoder().fit_transform(X_test['course_id'])
X_train['course_id'] = LabelEncoder().fit_transform(X_train['course_id'])
knn.fit(X_train, y_train)

/Users/andy/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/andy/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [453]:
y_predict = knn.predict(X_test)
print('Misclassified samples: %d' % (y_test != y_predict).sum())

Misclassified samples: 797

In [454]:
from sklearn.metrics import accuracy_score
print('Accuracy: %.2f' % accuracy_score(y_test, y_predict))

Accuracy: 0.78

In [455]:
q3['course_id'] = LabelEncoder().fit_transform(q3['course_id'])
target = knn.predict(q3)

In [456]:
final =pd.DataFrame({"user_id":q2['user_id'],"course_id":q2['course_id'],'target':target})

In [457]:
final['target'] = final['target'].map({1:'T',0:'F'})

In [458]:
final['target'].value_counts()

F    3233
T     327
Name: target, dtype: int64

In [459]:
final.to_csv('q2.csv')

In [440]:
q2 = pd.read_csv('/Users/andy/Desktop/2017學習數據分析黑客松/hack_question02.csv')

In [444]:
course=[]
for i in q2['course_id']:
    if i not in course:
        course.append(i)

In [464]:
final[final['user_id']==21125]

               course_id target  user_id
180  ORG1525/C8152/D2453      F    21125