In [1]:
import json
import fnmatch
import os
from tqdm import tqdm
from collections import Counter
import pandas as pd
import datetime
from dateutil.relativedelta import relativedelta

In [2]:
data = []
error_data = []
for i in range(4,8):
    for name in tqdm(os.listdir("/Volumes/transcend/大檔案/2017學習數據分析黑客松/hack_log_201"+str(i))):
        with open('/Volumes/transcend/大檔案/2017學習數據分析黑客松/hack_log_201'+str(i)+"/"+name, 'r') as f:
            for line in f:
                try:
                     if json.loads(line)['context']['course_id'] == "ORG8070/C2857/D2453":
                        data.append(json.loads(line))
                except:
                    error_data.append((line,f))

100%|██████████| 772/772 [00:41<00:00, 18.41it/s]
100%|██████████| 2796/2796 [02:26<00:00, 19.06it/s]
100%|██████████| 4680/4680 [04:46<00:00, 16.32it/s]
100%|██████████| 2979/2979 [03:06<00:00, 16.00it/s]

In [3]:
uid=['91', '103', '2115', '7365', '9838', '10807', '12532', '12960', '13029', '17650', '17652', '17796', '18167']

In [4]:
#Q1
usertime = []
for i in range(len(data)):
    try:
        usertime.append((data[i]['context']['user_id'],data[i]['context']['course_id'],data[i]['time'].split("T")[0]))
    except:
        continue

In [5]:
usertime[0:10]

[(5, 'ORG8070/C2857/D2453', '2016-03-31'),
 (5, 'ORG8070/C2857/D2453', '2016-03-31'),
 (None, 'ORG8070/C2857/D2453', '2016-03-31'),
 (5, 'ORG8070/C2857/D2453', '2016-04-01'),
 (5, 'ORG8070/C2857/D2453', '2016-04-01'),
 (5, 'ORG8070/C2857/D2453', '2016-04-01'),
 (5, 'ORG8070/C2857/D2453', '2016-04-01'),
 (5, 'ORG8070/C2857/D2453', '2016-04-01'),
 (5, 'ORG8070/C2857/D2453', '2016-04-01'),
 (5, 'ORG8070/C2857/D2453', '2016-04-01')]

In [6]:
a=[]
for i in usertime:
    if i not in a:
        a.append(i)
    else:
        pass

In [7]:
df =pd.DataFrame(a,columns=['user_id','course_id','date'])
df.head(5)

   user_id            course_id        date
0      5.0  ORG8070/C2857/D2453  2016-03-31
1      NaN  ORG8070/C2857/D2453  2016-03-31
2      5.0  ORG8070/C2857/D2453  2016-04-01
3      NaN  ORG8070/C2857/D2453  2016-04-03
4    135.0  ORG8070/C2857/D2453  2016-04-06

In [35]:
target = {}
for user in uid:
    count = 0
    for i in range(len(a)):
        if a[i][0] == int(user):
            count +=1
        else:
            pass
    target[user]=count

In [36]:
#Q1 answer
target

{'103': 2,
 '10807': 2,
 '12532': 10,
 '12960': 4,
 '13029': 1,
 '17650': 1,
 '17652': 2,
 '17796': 1,
 '18167': 1,
 '2115': 14,
 '7365': 3,
 '91': 1,
 '9838': 2}

In [37]:
#Q2
video = []
for i in range(len(data)):
    try:
        video.append((data[i]['context']['user_id'],json.loads(data[i]['event'])['id'],json.loads(data[i]['event'])['currentTime']))
    except:
        pass

In [38]:
target_video = {}
for user in uid:
    count = 0
    videoid = []
    for i in range(len(video)):
        if video[i][0] == int(user):
            if video[i][1] not in videoid:
                count +=1
            videoid.append(video[i][1])
        else:
            pass
    target_video[user]=count

In [40]:
#Q2 answer
target_video

{'103': 1,
 '10807': 12,
 '12532': 47,
 '12960': 1,
 '13029': 1,
 '17650': 8,
 '17652': 1,
 '17796': 2,
 '18167': 10,
 '2115': 1,
 '7365': 2,
 '91': 5,
 '9838': 4}

In [45]:
#Q3
video2 = []
for i in range(len(data)):
    try:
        video2.append((data[i]['context']['user_id'],json.loads(data[i]['event'])['id']))
    except:
        pass
video_total = []
for i in range(len(video2)):
    if video2[i][1] not in video_total:
        video_total.append(video2[i][1])

In [46]:
#影片總數
len(video_total)

48

In [47]:
target_success={}
for user in uid:
    target_success[user] = target_video[user]/48

In [48]:
#Q3 answer
target_success

{'103': 0.020833333333333332,
 '10807': 0.25,
 '12532': 0.9791666666666666,
 '12960': 0.020833333333333332,
 '13029': 0.020833333333333332,
 '17650': 0.16666666666666666,
 '17652': 0.020833333333333332,
 '17796': 0.041666666666666664,
 '18167': 0.20833333333333334,
 '2115': 0.020833333333333332,
 '7365': 0.041666666666666664,
 '91': 0.10416666666666667,
 '9838': 0.08333333333333333}

In [49]:
#Q4
video3 = []
video4 = []
for i in range(len(data)):
    try:
        try:
            video3.append((data[i]['context']['course_id'],data[i]['session'],data[i]['context']['user_id'],data[i]['event_type'],json.loads(data[i]['event'])['id'],data[i]["time"]))
        except:
            video4.append(data[i])
    except:
        pass

In [50]:
df = pd.DataFrame(video3)
df = df.rename(columns={0:'course_id',1:'session',2:'user_id',3:'event_type',4:'video_id',5:'time'})
df.head()

,course_id,session,user_id,event_type,video_id,time
0,ORG8070/C2857/D2453,622f2788d644717b3597f873055f5347,17489,load_video,i4x-ORG8070-C2857-video-f6288aabca9e47a2942e3e...,2016-05-17T04:34:48.743219+00:00
1,ORG8070/C2857/D2453,b6e61490e0626f979c68354f67d54a57,18167,load_video,i4x-ORG8070-C2857-video-4d17a1843a224c8a855a53...,2016-04-25T12:45:52.421790+00:00
2,ORG8070/C2857/D2453,b6e61490e0626f979c68354f67d54a57,18167,load_video,i4x-ORG8070-C2857-video-4d17a1843a224c8a855a53...,2016-04-25T12:47:01.818469+00:00
3,ORG8070/C2857/D2453,b6e61490e0626f979c68354f67d54a57,18167,load_video,i4x-ORG8070-C2857-video-34cbd07abe3a452e831ad9...,2016-04-25T12:49:05.932167+00:00
4,ORG8070/C2857/D2453,b6e61490e0626f979c68354f67d54a57,18167,play_video,i4x-ORG8070-C2857-video-34cbd07abe3a452e831ad9...,2016-04-25T12:49:20.187198+00:00

In [52]:
#切天數
df['date']=df['time'].str.split("T").str[0]
#切時間
df['time1']=df['time'].str.split("T").str[1]
df['time1']=df['time1'].str.split(".").str[0]

In [53]:
total_time = {}
at_dic={}
p=[]
for user in uid:
    total = 0
    videoid = []
    df2 = df[df['user_id'] == int(user)]
    k = df[df['user_id'] == int(user)].index
    for a in k:
        if df2['event_type'][a]=='play_video':
            p.append(a)
        elif df2['event_type'][a]=='pause_video':
            if p!=[]:
                d1=datetime.datetime.strptime(df2['time1'][a],"%H:%M:%S")
                d2=datetime.datetime.strptime(df2['time1'][p[-1]],"%H:%M:%S")
                diff=relativedelta(d1,d2)
                total+=int(diff.minutes)*60+int(diff.seconds)
                p=[]               
                a+=1
        else:
            pass
    total_time[user]=total

In [58]:
total_time = {}
at_dic={}
p=[]
for user in uid:
    total = 0
    videoid = []
    df2 = df[df['user_id'] == int(user)]
    k = df[df['user_id'] == int(user)].index
    for a in k:
        if df2['event_type'][a]=='play_video':
            p.append(a)
        elif df2['event_type'][a]=='pause_video':
            if p!=[]:
                d1=datetime.datetime.strptime(df2['time1'][a],"%H:%M:%S")
                d2=datetime.datetime.strptime(df2['time1'][p[-1]],"%H:%M:%S")
                diff=relativedelta(d1,d2)
                total+=int(diff.minutes)*60+int(diff.seconds)
                p=[]                 
                a+=1
        else:
            pass
    total_time[user]=total

In [60]:
#Q4 answer
total_time

{'103': 88,
 '10807': 2626,
 '12532': 22967,
 '12960': 0,
 '13029': 0,
 '17650': 188,
 '17652': 87,
 '17796': 3,
 '18167': 2474,
 '2115': 0,
 '7365': 3,
 '91': 7,
 '9838': 1270}